<div class="row middle-xs form-group">
    <label for="{{ item.id }}" class="col-12 col-sm-2 center-xs start-sm" *ngIf="item.title.length > 0">
        {{ item.title }}
    </label>
    <div class="col-12" [ngSwitch]="item.type" [ngClass]="{
        'col-sm-10': item.title.length > 0,
        'col-sm-12': item.title.length === 0,
        invalid: item.formControl !== undefined && item.formControl.touched && !item.formControl.valid}" >

        <input type="text" name="{{ item.id }}" id="{{ item.id }}" class="form-control"
               [(ngModel)]="item.value" (change)="onChange()" *ngSwitchCase="'text'" (blur)="onChange()">

        <select name="{{ item.id }}" id="{{ item.id }}" class="form-control"
                [(ngModel)]="item.value" (change)="onChange()" *ngSwitchCase="'select'"
                (blur)="onChange()">
            <option *ngFor="let option of item.options" value="{{ option.value }}" data-label="{{ option.label }}">
                {{ option.label }}
            </option>
        </select>

        <input color-picker color-picker-model="item.value" *ngSwitchCase="'color'">

        <app-ux-autocomplete [options]="item.options" [ngClass]="{invalid: item.formControl.touched && !item.formControl.valid}"
                             [(ngModel)]="autoCompleteValue" *ngSwitchCase="'autocomplete'"
                             (blur)="onChange()">
        </app-ux-autocomplete>

        <span *ngIf="item.formControl !== undefined" class="validation-message">
            <span *ngIf="item.formControl.touched && !item.formControl.valid">To pole jest wymagane.</span>
        </span>
    </div>
</div>
