<div class="card">
  <div class="card-header">
    <div class="row align-content-center">
      <h5 class="col-10">Kategorie wydatków</h5>
      <a (click)="addCategory()" role="button" class="add-button col-2">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action" *ngFor="let category of categoriesService.getCategories()">
        <div class="row align-items-center">
          <div class="col-2">
            <div class="color-block" [style.background-color]="category.color"></div>
          </div>
          <div class="col-10">
            {{ category.name }}
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<app-ux-modal [name]="modalName">
  <app-add-category></app-add-category>
</app-ux-modal>