<div class="container-fluid">
    <h2 class="text-center">Dodaj kategorię wydatków</h2>
    <div class="row">
        <div class="col-12">
            <app-ux-form [list]="form" (formUpdate)="submitForm($event)"></app-ux-form>
        </div>
    </div>
</div>