<div class="row middle-xs form-group">
    <div class="list col-xs-12">
        <div class="list-element" *ngFor="let element of options" (click)="setValue(element.label)">
            {{ element.label }}
        </div>
    </div>
</div>
