<div class="card">
  <div class="card-header">
    <div class="row align-content-center">
      <h5 class="col-10">Szybki dostep</h5>
      <a (click)="addQuickPayment()" role="button" class="add-button col-2">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action" *ngFor="let payment of payments">
        <div class="row align-items-center">
          <div class="col-9">
            {{ payment.name }}
          </div>
          <div class="col-3">
            {{ payment.cost }} zł.
          </div>
        </div>
      </a>
    </div>
  </div>
</div>