<div class="row quick-actions">
  <div class="bg-success text-white text-uppercase text-center" [ngClass]="{'col': !inline, 'col-12': inline}">
    <a (click)="addPayment()" role="button" class="add-button 'col'-2">
      Dodaj platnosc
      <i class="fa fa-plus-circle text-white" aria-hidden="true"></i>
    </a>
  </div>
  <div class="bg-warning text-white text-uppercase text-center" [ngClass]="{'col': !inline, 'col-12': inline}">
    <a (click)="addProceed()" role="button" class="add-button">
      Dodaj przychód
      <i class="fa fa-plus-circle text-white" aria-hidden="true"></i>
    </a>
  </div>
  <div class="bg-danger text-white text-uppercase text-center" [ngClass]="{'col': !inline, 'col-12': inline}">
    <a (click)="addAlert()" role="button" class="add-button 'col'-2">
      Dodaj alert
      <i class="fa fa-plus-circle text-white" aria-hidden="true"></i>
    </a>
  </div>
</div>