:host {
  > div {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    .row {
      height: 100%;
      > div {
        max-height: 90%;
      }
    }
    .modal-container {
      height: 100%;
      background-color: white;
    }
  }
  &.full-height .row > div {
    height: 90%;
  }
}
