<div class="modal-layer" *ngIf="service.isOpened(name)" (click)="service.close(name)">
    <div class="row align-items-center justify-content-center align-self-center">
        <div class="col-11">
            <div class="modal-container" (click)="stopPropagationOnClick($event)">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>