$border: 1px solid #d2d2d2;
$width: calc(100% / 7);

.calendar-filters {
  margin-top: 20px;
}

.day-name, .day {
  width: $width;
  display: inline-block;
  border: $border;
  border-right: none;
}

.day-name{
  &:nth-of-type(7) {
    border-right: $border;
  }
}

.day {
  border-top: none;
  height: 55px;
  .day-value span {
    font-size: 20px;
    margin-right: 10px;
  }
  &:nth-of-type(7n) {
    border-right: $border;
  }
  &:last-of-type {
    border-right: $border;
  }
}
