<div class="container-fluid">
    <div class="row text-center justify-content-between calendar-filters">
        <div class="col-3">
            <span>Wybierz rok</span>
            <app-ux-input-row [item]="yearsSelector" [(ngModel)]="year"></app-ux-input-row>
        </div>
        <div class="col-3">
            <span>Wybierz miesiac</span>
            <app-ux-input-row [item]="monthSelector" [(ngModel)]="month"></app-ux-input-row>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h2 class="card-header text-center text-uppercase">
                    {{ monthName[month] }} {{ year }}
                </h2>
                <div class="card-body">
                    <div class="day-name" *ngFor="let day of dayName">
                        <div class="day-value text-center text-uppercase">
                            <span>{{ day }}</span>
                        </div>
                    </div>
                    <div class="day" *ngFor="let date of days" [ngClass]="{'empty-date': !date}">
                        <a [routerLink]="getDayLink(date)">
                            <div class="day-value text-right" >
                                <span>{{date ? date.getDate() : '' }}</span>
                            </div>
                            <div class="events">
                                <span>{{ date ? 'Brak eventow' : '...'}}</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <div class="row justify-content-between">
                        <div class="col-3">
                            <button class="btn btn-danger" (click)="setMonth(-1)">Poprzedni miesiac</button>
                        </div>
                        <div class="col-3 text-right">
                            <button class="btn btn-success" (click)="setMonth(1)">Nastepny miesiac</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>