<div class="row">
    <div class="col-12">
        <h2 class="text-center text-uppercase">Aktualne wydarzenia finansowe</h2>
    </div>
    <div class="col-3">
        <app-categories></app-categories>
    </div>
    <div class="col-6">
        <app-wall></app-wall>
    </div>
    <div class="col-3">
        <app-quick-payment></app-quick-payment>
    </div>
</div>