<div class="row blocks-container">
    <div class="col-12">
        <app-actions></app-actions>
    </div>
    <div class="col-12">
        <app-feeds-wall [incomingFeeds]="incomingFeeds"></app-feeds-wall>
    </div>
</div>