<table class="table table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <td *ngFor="let element of headerFields">{{ element }}</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let array of showoffData">
      <td *ngFor="let arrayElement of array">{{ arrayElement }}</td>
    </tr>
  </tbody>
</table>