<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <button [routerLink]="'/kalendarz'" class="btn btn-dark return-back">Powrót do kalendarza</button>
        </div>
        <div class="col-12">
            <div class="card">
                <h2 class="card-header text-center text-uppercase">
                    {{ date | dateStringFormat }}
                </h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h3 class="text-center">Wydarzenia</h3>
                            <app-feeds-wall [incomingFeeds]="incomingFeeds"></app-feeds-wall>
                        </div>
                        <div class="col-4">
                            <h3 class="text-center">Podsumowanie</h3>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Wartość</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Przychod</td>
                                    <td>300 zł</td>
                                </tr>
                                <tr>
                                    <td>Rozchod</td>
                                    <td>200 zł</td>
                                </tr>
                                <tr>
                                    <td>Podsumowanie</td>
                                    <td>100 zł</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <app-actions></app-actions>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>