<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Personalny manager finansowy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="''">Pulpit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'kalendarz'">Kalendarz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Raport</a>
      </li>
    </ul>
  </div>
</nav>