<div class="row">
<a href="#" class="col-12" *ngFor="let feed of incomingFeeds">
  <div class="row text-capitalize">
    <div class="col-2 text-center ribbon">
      <div [style.background-color]="feed.category.color">
      </div>
    </div>
    <div class="col-7">
      <span>{{ feed.name }}</span>
    </div>
    <div class="col-3">
      <span>{{ feed.date }}</span>
    </div>
  </div>
</a>
</div>