$grey-border: 1px solid rgba(0, 0, 0, .125);

a {
  padding: .75rem 1.25rem;
  border: $grey-border;
  border-bottom: none;
  background-color: white;
  &:last-of-type {
    border-bottom: $grey-border;
  }
  .ribbon > div {
    width: 20px;
    height: 100%;
    display: inline-block;
    transform: rotate(60deg);
  }
}
