<form [formGroup]="form" (submit)="submitForm($event)">
    <app-ux-input-row [item]="item"
                      *ngFor="let item of list; let i = index;"
                      [ngClass]="{'hide-field': item.hide}"
                      [formControlName]="item.id">
    </app-ux-input-row>
    <button type="submit" class="btn btn-primary">Potwierdz</button>
    <ng-content></ng-content>
</form>
