html, body {
  height: 100%;
  background-color: #f5f8fa;
}

.add-button {
  cursor: pointer;
  .fa-plus-circle {
    color: red;
    font-size: 24px;
    margin-right: 10px;
  }
}

a, a:hover, a:focus, a:visited{
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}